---
- name: Instalar podman
  apt:
    name: podman
    update_cache: true
    state: present

- name: Login en acr
  containers.podman.podman_login:
    registry: "{{ acr_login_server }}"
    username: "{{ acr_user }}"
    password: "{{ acr_pass }}"

- name: Desplegar contenedor nginx
  containers.podman.podman_container:
    name: nginx-server
    image: "{{ acr_login_server }}/podman/nginx:casopractico2"
    state: started
    ports:
      - "80:80"
    volume:
      - "/opt/nginx/html:/usr/share/nginx/html:z"
      - "/opt/nginx/.htpasswd:/etc/nginx/.htpasswd:z"
      - "/opt/nginx/default.conf:/etc/nginx/conf.d/default.conf:z"

- name: Crear directorios nginx
  file:
    path: /opt/nginx/html
    state: directory
    recurse: yes
    owner: root
    group: root
    mode: '0755'

- name: Personalizar index
  copy:
    dest: /opt/nginx/html/index.html
    content: |
      <!DOCTYPE html>
      <html>
      <head><title>CP2</title></head>
      <body>
        <h1>Esta es la web del CP2</h1>
        <p>Si estas viendo esto te has autenticado correctamente.</p>
      </body>
      </html>
    mode: '0644'

- name: Crear configuracion con autenticacion
  copy:
    dest: /opt/nginx/default.conf
    content: |
      server {
          listen       80;
          server_name  localhost;

          location / {
              auth_basic "Introduce usuario y pass";
              auth_basic_user_file /etc/nginx/.htpasswd;
              root   /usr/share/nginx/html;
              index  index.html;
          }
      }
    mode: '0644'

- name: Crear archivo htpasswd
  community.general.htpasswd:
    path: /opt/nginx/.htpasswd
    name: "{{ web_user }}"
    password: "{{ web_pass }}"
    crypt_scheme: bcrypt
